<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the charts, passes in the data and
      // draws it.
      function drawChart() {
        // console.log({{ data|tojson|safe }});

        // console.log(typeof {{ data|tojson|safe }} )
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Extension');
        data.addColumn('number', 'Average load');
        data.addRows( {{ data|tojson }});
        // Set chart options
        var options = {'title': 'Average size per Filetype', 'width':1000, 'height':500, annotations:{alwaysOutside: true} , 
        hAxis: {title: 'Extension', direction: -1 ,slantedText:true, slantedTextAngle:60}}; //,isStacked: true,};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        var barch = new google.visualization.ColumnChart(document.getElementById('bar_div'));
        
        chart.draw(data, options);
        barch.draw(data, options);
        document.getElementById('png').outerHTML = '<a href="' + barch.getImageURI() + '">Printable version</a>';

        var data_t = new google.visualization.DataTable();
        data_t.addColumn('string', 'Extension');
        data_t.addColumn('number', 'Average load');
        data_t.addColumn('number', 'Total load ');
        data_t.addRows( {{ data_tot|tojson }});
        // Set chart options
        var options_t = {'title': 'Average and Total size per Filetype (logarithmic scale)', 
                            'width':1000, 'height':500, 
                            annotations:{alwaysOutside: true} ,
                     hAxis: {title: 'Extension', direction: -1 ,slantedText:true, slantedTextAngle:60},
                     isStacked: false,
                     series:{
                        0:{ targetAxisIndex: 0},
                        1: { targetAxisIndex: 1}
                     },
                     vAxes:{
                        0: {title: "Average load "},
                        1: {title: 'Total load'}
                     } };
        // Instantiate and draw our chart, passing in some options_t.
        var barch_t = new google.visualization.ColumnChart(document.getElementById('bar_t_div'));
        
        barch_t.draw(data_t, options_t);
        document.getElementById('png_t').outerHTML = '<a href="' + barch_t.getImageURI() + '">Printable version</a>';

      }
    </script>

    <title>Analysis of logging file</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <h1>Upload new File for Analysis</h1>
      <form method=post enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit value=Analyze>
        </p>
      </form>
  </head>
  <body>
    <h2>Bar Chart</h2>
    <div id="bar_div"></div>
      <div id='png'></div>
    <div id="chart_div"></div>
    <div id="bar_t_div"></div>
      <div id='png_t'></div>

  </body>
</html>